/*home*/
.arrowHello {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: $wBorderScreen;

  .arrowTxt {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: $teko;
    font-size: 1.2rem;
    color: $pink;
    align-self: center;

    text-align: end;
  }

  .arrowTxt1 {
    padding-top: 40px;
  }
  .arrowTxt2 {
    display: inline-block;
    flex-grow: 2;
  }

  .arrowTxt2:first-letter {
    text-transform: uppercase;
  }

  .arrowImg {
    align-self: center;
    width: 10px;
  }
}

#homePresentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homeCanvas, #homeProjectsCanvas {
  position: absolute;
  padding: $wBorderScreen;
  z-index: $ziCanvas;
}

/*hello*/
#helloWordBox {
  padding:  (4*$wBorderScreen) $wBorderScreen (2*$wBorderScreen) $wBorderScreen;

  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;

  font-family: $zcool;
}

.helloWord {
  color: $black;
  display: inline-block;
  line-height: 1em;
}

/*Jul Blain*/
#homeTitle {
  position: relative;
  font-weight: 200;
  font-size: 1.5rem;
  font-family: $poiret;
  padding: (5*$wBorderScreen) $wBorderScreen;
}

#myName {
  color: #ffc000;;
  font-size: 2.2rem;

}
#homeTitle .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

#homeTitle .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

/*btnHappy*/

#warped {

  // -webkit-animation: rotation 2s infinite linear;
}

#btnHappy {
  position: absolute;
  z-index: $ziBtnHappy;
  top: 40vh ;
  right: 25vw;
  display: flex;


}
#btnHappyTxt {
  font-weight: 600;

  font-family: $teko;
  color:  $pink;
  margin: auto;
  font-size: 15px;

  animation:   5s linear 0s infinite rotation;

  > div {
    display: flex;
  }

}

#btnHappyCircle {
  //position: relative;
  width: 50px;
  height: 50px;
  background-color: $yellow;
  border : 2px solid $yellow;
  margin: auto;
  border-radius: 50%;
}

#btnHappyCircle:hover {
  background-color: $white;
}



/*homeCompetences*/

#meCanvas {
  position: absolute;
  padding: $wBorderScreen;
  z-index: $ziCanvas;
}


@mixin levitate {
  animation: levitate 3s infinite,
  flicker 3s infinite;
}

@mixin translate1 {
  animation: translate1 3s infinite;
}

@mixin translate2 {
  animation: translate2 3s infinite;
}


.homeMeBtnSvg {
  fill : $pink;
  @include levitate;
}

.pathSvg {
  stroke: $lightBlue;
  stroke-width: 50px;
}

.pathSvg:hover {
  stroke: $pink;
}

.txtSvg {
  fill : $white;
  font-family: "Teko", sans-serif;
}

#textPathLanguages {
  font-size: 45px;
  letter-spacing: 25px;
}

#textPathLibrairy {
  font-size: 40px;
  letter-spacing: 5px;
}


/*mask*/

.homeMeBtnBox {
  position: relative;
  text-align: left;

}
.homeMeBtnSvg {
  display: inline-block;
  position: absolute;
  width: $homeMeBtnW;
  z-index: 2;
}

#svgLanguages {
  right: $homeMeBtnLanguagesR;
  top: $homeMeBtnLanguagesT;
}

#svgLibrairy {
  left: $homeMeBtnLibrairyL ;
  top : $homeMeBtnLibrairyT ;
}

.homeMaskBox {
  transform: scale(0);
  transition: all .4s ease-in-out 0s;

  z-index: -2;
  position: relative;
  top: $homeMeBtnLanguagesT + ($homeMeBtnW/2);
  right: $homeMeBtnLanguagesR + ($homeMeBtnW/2);

}

#homeMaskBoxLanguages {
  transform-origin: right;
}
#homeMaskBoxLibrairy {
  transform-origin: 140px 70px;
}

#homeMaskBoxTool {
  transform-origin: 200px 190px;
}


.homeMaskItems {
  @include levitate;
  display: inline-block;

  text-align: right;

  text-decoration: none;

}

.homeMaskItems {
  position: absolute;
  border-radius: 50%;

  i {
    display: block;
    width: $homeMeBtnW/1.3;
    height: $homeMeBtnW/1.3;
    border-radius: 50%;
    color: $white;

    font-size: 3rem;
    line-height: 1.6;
  }

}

.homeMaskItemsPhp {
  top: -15vh;
  right: 20vw;
}
.homeMaskItemsJs {
  top: 5vh;
  right: 15vw;
}
.homeMaskItemsCss {
  top: 25vh;
  right: 25vw;
}
.homeMaskItemsHtml {
  top: 15vh;
  right: -15vw;
}

.homeMaskItemsSass {
  top: 40vh;
  right: -10vw;
}

.homeMaskItemsPhp i {
  background-color: #777BB0;
  @include translate1;
}
.homeMaskItemsJs i{
  background-color: #F7DE45;
  @include translate2;
}
.homeMaskItemsCss i{
  background-color: #2D65EB;
  @include translate2;
}
.homeMaskItemsHtml i{
  background-color: #F06634;
  @include translate1;
}
.homeMaskItemsSass i{
  background-color: #CD6597;
  @include translate1;
}

.homeMaskItemsPhp i::before {
  margin-right: 8px;
}

.homeMaskItemsJs i::before {
  margin-right: 16px;
}

.homeMaskItemsCss i::before {
  margin-right: 20px;
  line-height: 1.7;
}
.homeMaskItemsHtml i::before {
  margin-right: 20px;
  line-height: 1.7;
}
.homeMaskItemsSass i::before {
  margin-right: 5px;
}


// 2e button

#homeLibrairy i {
  line-height: 1.7;
}

.homeMaskItemsSymf {
  top: -15vh;
  left: 40vw ;

  i {
    @include translate1;
    background-color:  #201D21;
  }
}

.homeMaskItemsSymf .icon-symfony::before {
  margin-right: 14px;
}

.homeMaskItemsWP {
  left: 65vw ;
  i {
    background-color: #287497;
    @include translate2;
  }

  i::before {
    margin-right: 14px;
  }
}

.homeMaskItemsBootstrap {
  top: 22vh;
  left: 60vw ;

  i {
    @include translate1;
    background-color: #564079;
  }

  i::before {
    margin-right: 14px;
  }
}

.homeMaskItemsJquery {
  top: 30vh;
  left: 27vw ;

  i {
    @include translate2;
    background-color: #1269A8;
  }

  i::before {
    margin-right: 14px;
  }
}

//3e btn
#textPathTool {
  font-size: 45px;
  letter-spacing: 20px;
}

#svgTool {
  top: 220px;
  left: 80px;
}

.homeMaskItemsSql {
  left: 50vw ;
  top: 10vh;
  i {
    background-color: #46789D;
    @include translate1;
  }

  i::before {
    margin-right: 13px;
  }
}

.homeMaskItemsApache {
  left: 25vw ;
  top: -5vh;

  i {
    background-color: #CF2930;
    @include translate2;
  }

  i::before {
    margin-right: 15px;
    line-height: 1.7;

  }
}

.homeMaskItemsGit {
  left: 23vw ;
  top: 20vh;

  i {
    background-color: #F85135;
    @include translate1;
  }

  i::before {
    margin-right: 13px;
    line-height: 1.7;
  }
}

.homeMaskItemsUbuntu {
  top: -8vh;
  left: 65vw;
  i {
    background-color: #E75630;
    @include translate1;
  }

  i::before {
    margin-right: 17px;
    line-height: 1.6;
  }
}

.homeMaskItemsAdobe {
  left: 75vw ;
  top: 20vh;
  i {
    background-color: #FE161D;
    @include translate2;
  }

  i::before {
    margin-right: 16px;
  }
}


/*homeProjects*/
#homeProjectsBox {
  position: relative;
  padding: $wBorderScreen;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

#homeProjectsBox img, #homeProjectsColor, .homeProjectsSlide {
  width: 90%;
  height: 80%;
  max-width: 90%;
  max-height: 80%;
}

#homeProjectsColor {
  background-color: $white;
  position: absolute;
  z-index: 48;
  display: none;
}

.homeProjectsColor-anim {
  display: block !important;
  animation: homeProjectsColor 1.2s ease-in forwards;
}

#homeProjectsColor, .homeProjectsSlide {
  top: $wBorderScreen;
}

.homeProjectsSlide {
  display: flex;
  position: absolute;
  z-index: 4;
  overflow: hidden;

  img {
    margin: auto;
    border: 4px solid $blue;
    opacity: 0;
    animation: homeProjectsImg 0.6s forwards;
  }
}

.homeProjectsLink {
  display: none;}

.homeProjectsLink-visible {
  display: flex;
  margin: auto;
}

#homeProjectsCounter {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#homeProjectsCounterArrows {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  span {
    margin-left: 10px;
    margin-right: 10px;
  }

  i::before {
    color: $pink;
    font-size: 1.3rem;
  }
}

#homeProjectsCount .countNeon {
  height: 10px;
  width:10px;
  border-radius: 50%;
  border :2px solid $yellow;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

#homeProjectsCount .countNeon-visible {
  box-shadow: 0 0 10px lighten($yellow, 10%);
  background-color: $yellow;
}