
body {
  transition:2s;
}
body.active {
  background:#ff0052;
}

nav {
  padding-right: 0;
}
.toggle {
  position:absolute;
  top:55%; //annulation de 50% pour iphone4 portrait
  left:50%;
  right: -14px; //annulation de la valeur bootstrap
  transform:translate(-50%,-50%);
  width:50px;
  height:40px;
  background:#fff;
  cursor:pointer;
  overflow:hidden;

}
.toggle span {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(0deg);
  width:calc(100% - 14px);
  height:3px;
  background:#262626;
  box-shadow: 0 -12px 0 #262626,0 12px 0 #262626;
  transition-property:transform, box-shadow;
  transition-delay:0s,1s;
  transition-duration:0.5s,0.5s;
}
.toggle.active span {
  box-shadow: 50px -12px 0 #262626,-50px 12px 0 #262626;
  transform:translate(-50%,-50%) rotate(-315deg);
  transition-property:box-shadow, transform;
  transition-delay:0s,0.5s;
  transition-duration:0.5s,0.5s;
}
.toggle span:before {
  content:'';
  position:absolute;
  top:-50px;
  left:50%;
  transform:translate(-50%,-50%);
  width:3px;
  height:36px;
  background:#262626;
  transition:0.5s;
  transition-delay:0.5s;
}
.toggle.active span:before {
  top:50%;
  transition-delay:1s;
}


/*header*/
#header {
  z-index: $ziHeader;
  position: fixed;
  height: $heightHeader;
  border-top: $borderScreen;
  border-right: $borderScreen;
  border-left: $borderScreen;
  background-color: #FFFFFF;
  padding: 5px 0 0 0;
  top: 0;
}

#header img {
  height: 40px;
  width: auto;
}

#header .col-6 {
  display: flex;
  justify-content: center;

}
