/*color*/
$blue : #2a64f8;
$lightBlue : rgb(123, 220, 214);
$black :  #262626;
$pink : #fe18d5;
$yellow : #ffc000;
$white : #FFFFFF;
$defaultColor : black;
/*font*/
$poiret : 'Poiret One', cursive;
$zcool : 'ZCOOL KuaiLe', cursive;
$teko : 'Teko', sans-serif;


/*general*/
$wBorderScreen : 10px;
$borderScreen : $blue solid $wBorderScreen;


/*z-index*/
$ziBorderScreen : -10;
$ziFooter : 49;
$ziHeader : 50;
$ziCanvas : -9;
$ziBtnHappy: 20;
$ziBtnHappyBtn : 21;
$ziBtnHappyTxt : 22;


/*header*/
$heightHeader : 60px;

/*homeMeBtn*/
$homeMeBtnW : 100px;
$homeMeBtnLanguagesR : 20px;
$homeMeBtnLanguagesT : 30px;