/*color*/
$primary : #2a64f8;
$widthFirstBorder : 10px;
$firstBorder : $primary solid $widthFirstBorder ;
$backgroundColor: #ffff;
$black :  #262626;

/*height*/
$heightHeader : 12vh;
$heightFooter : 6vh;

/*z-index*/
$headerZi : 10;
$footerZi : 9;
$sectionZi : 0;
$canvasZi : 1;
$containerTxtHome : 2;



/*general*/
$colorArrow : #fe18d5;
