/*color*/
$blue : #2a64f8;
$black :  #262626;
$pink : #fe18d5;

/*general*/
$wBorderScreen : 10px;
$borderScreen : $blue solid $wBorderScreen;


/*z-index*/
$ziBorderScreen : -10;
$ziFooter : 10;
$ziHeader : 11;
$ziCanvas : -9;

/*header*/
$heightHeader : 60px;