{% extends 'base.html.twig' %}
{% block title %}Jul Blain - Accueil {% endblock %}

{% block body %}

    <section class="w-100" id="home">
        <div class="container-fluid h-100 ">
            <div class="row h-100 w-100 ">
                <div class="col-1 h100" id="arrowHello">
                    <p class="arrowTxt">Bienvenue</p>
                    <img src="{{ asset('img/arrowPink.jpg') }}" alt="flèche directionnelle descendante" class="arrowImg">
                </div>

                <div class="col-11 h-100" id="truc" >

                    <canvas id="homeCanvas" class="w-100 h-100"></canvas>

                    <div id="helloWordBox" class="w-50">
                        <span class="helloWord">Hello</span>
                        <span class="helloWord">Hello</span>
                        <span class="helloWord">Hello...</span>
                        <br>
                        <span class="helloWord">Word !</span>
                    </div>
                </div>

            </div>
        </div>
    </section>





    <section class="w-100" id="homeTest">

    </section>

{% endblock %}

{% block javascripts %}
    <script src="http://127.0.0.1:8000/js/canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="http://127.0.0.1:8000/js/home/hello.js"></script>
    <!--


{% endblock %}